<!-- <form action="/enter_comparison" method="post" id="feel-form">
  <input type="text" name="city1" placeholder="Enter a reference city">
  <input type="text" name="city1" placeholder="Enter a destination">
  <input type="submit" value="Compare">
</form> -->


<div id="fucking-react"></div>