<h2 class='center-align'>What does your new home feel like?</h2>
<div class='row'>
  <form class='col s3' action="/" method="get" id="intro-form">
    <input type="text" name="c1" placeholder="Your Current City">
    <input type="text" name="c2" placeholder="Your Future Home">
    <a id='compare' class="waves-effect waves-light btn"><i class="mdi-file-cloud right"></i>Compare!</a>
  </form>
  <div id='things' class='col s9'></div>
</div>


