

<!-- MAINFORM -->
<div id="mainform">

    <!-- HEADLINE -->
    <div class="headline solid-orange"></div>
    <!-- END HEADLINE -->

    <!-- NavBar -->
    <div data-panelid="navbar" data-pos="none" data-ptext='light-text' class="op-tab solid-orange light-text op-tabstyle-top">Menu</div>
    <!-- End NavBar -->


  <h1 id="feels-like-title">FeelsLike</h1>
  <h4 id="feels-like-subtitle">Get to know your new city.</h4>

  <div class="location-block">

   <!--  <form id="select-cities" action="#" method="get"> -->
      <select id="city-1-data">
        <option value="">Select a city</option>
        <option value="1">San Francisco, CA</option>
        <option value="2">Richmond, VA</option>
        <option value="3">Chicago, IL</option>
        <option value="4">New York, NY</option>
      </select>
      <select id="city-2-data">
        <option value ="">Select a city</option>
        <option value="1">San Francisco, CA</option>
        <option value="2">Richmond, VA</option>
        <option value="3">Chicago, IL</option>
        <option value="4">New York, NY</option>
      </select>
      <!-- <input type="submit" value="What's it Feel Like?">
    </form> -->


  </div>


    <div class="clearspace"></div>

  <div class="op-blockholder">

    <div class="call-graph-button">
        <div data-panelid="panel1" data-pos="left" class="op-tab op-block1 solid-darkgreen floatleft box-shadow">
          <h3 id="feels_like">Feels Like</h3>
        </div>
    </div>

   <div class="call-graph-button">
        <div data-panelid="panel2" data-pos="right" class="op-tab op-block2 solid-orange-2 floatright box-shadow">
          <h3 id="looks_like">Actual</h3>
        </div>
    </div>

    <div class="call-graph-button">
        <div data-panelid="panel3" data-pos="right" class="op-tab op-block1 solid-red floatright box-shadow">
          <h3 id="tastes_like">Rain & Snow</h3>
        </div>
    </div>

    <div class="call-graph-button">
        <div data-panelid="panel4" data-pos="bottom" class="op-tab op-block2 solid-blue floatleft box-shadow">
          <h3 id="smells_like">Daylight</h3>
        </div>
    </div>
    <div class="clearspace"></div>

  </div>



  <!-- START FOOTER -->
  <div class="footer">


    <!-- <div class="docs hovershadow-green">
      <a href="http://docs.sonhlab.com/openpanel-responsive-panel-anywhere/" target="_blank" title="Tabion jQuery Documentation" class="solid-green light-text floatleft">
        <img src="/images/demo/docs.png" alt="Tabion jQuery Docs" />
        <span class="light-text">Documentation</span>
      </a>
    </div> -->


    <div class="clearspace"></div>

  </div>
  <!-- END FOOTER -->


</div>
<!-- END MAINFORM -->






<!-- OPENPANEL STATION -->
<div id="op-station">


  <!-- NavBar -->
    <div id="navbar" class="op-panel solid-orange-2">
        <!-- Control -->
      <div class="op-panelctrl solid-black">
            <!-- Close Button -->
            <div data-close='navbar' class="op-panelbt op-bt-close">
                <img src="/images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->

            <!-- Close All -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="/images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->

            <div class="clearspace"></div>
        </div>
        <!-- End Control -->

        <!-- Panel Content -->
        <div class='op-panelform'>

          <!-- Menu Block 1 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <a href="javascript:void(0);">
                        <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" />
                        <span>Hello Menu</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <a href="#">
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>

            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 1 -->


            <!-- Menu Block 2 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <a href="#">
                        <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" />
                        <span>Hello Menu</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-purple" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-red" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 2 -->


            <!-- Menu Block 3 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <a href="#">
                        <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" />
                        <span>Hello Menu</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-purple" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-red" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 3 -->


            <!-- Menu Block 4 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <a href="#">
                        <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" />
                        <span>Hello Menu</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-purple" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-red" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 4 -->


            <!-- Menu Block 5 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <a href="#">
                        <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" />
                        <span>Hello Menu</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-purple" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-red" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <!-- <div class="clearspace"></div> -->
                    <!-- </a> -->
                </li>
            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 5 -->



            <!-- Menu Block 6 -->
          <div class="op-menublock">
            <!-- The Main Item List -->
            <ul class="op-menus">
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-grass" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-olive" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-black" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-purple" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
                <li class="op-menu">
                    <!-- <a href="#"> -->
                        <!-- <img src="/images/arrow-left-48.png" alt="" class="op-icons solid-red" /> -->
                        <!-- <span>Hello Menu</span> -->
                        <div class="clearspace"></div>
                    <!-- </a> -->
                </li>
            </ul>
            <!-- End Main Item List -->
            </div>
            <!-- End Menu Block 6 -->
            <div class="clearspace"></div>

        </div>
        <!-- End Panel Content -->

    </div>
    <!-- END NavBar -->


  <!-- PANEL 1 Feels Like Temperature -->
    <div id="panel1" class="op-panel solid-darkgreen">

        <!-- Start Control -->
      <div class="op-panelctrl solid-black">

            <!-- Close Button -->
            <div data-close='panel1' class="op-panelbt op-bt-close">
                <img src="/images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->

            <!-- NavBar Button -->
            <!-- <div data-panelid="navbar" data-pos="right" class="op-panelbt op-tab op-bt-nav">
                <img src="/images/arrow-right-48.png" alt="navbar" />
            </div> -->
            <!-- End NavBar Button -->

            <!-- Close All -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="/images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->

            <div class="clearspace"></div>

        </div>
        <!-- End Control -->

        <!-- Panel Content -->
        <div class='op-panelform'>

        <h3 class="light-text">What does your new city feel like?</h3>
        <div class="graph-wrapper">
              <div id="feels_like_graph">
              </div>
         </div>

         <div class="button_block">
         <button class="transition-button" type="button">NEXT</button>
         <button class="transition-button" type="button">PREV</button>
         </div>

          <!-- Menu Block 1 -->
          <!-- <div class="op-menublock"> -->
            <!-- The Main Item List -->
            <!-- <ul class="op-menus">
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="shopslider" data-ext="html" data-pos="bottom" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-orange-2" />
                        <span>ShopSlider</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="screenslider" data-pos="fade" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-grass" />
                        <span>ScreenSlider</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="metrotabs" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-black" />
                        <span>MetroTabs</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
            </ul> -->
            <!-- End Main Item List -->
            <!-- </div> -->
            <!-- End Menu Block 1 -->

            <!-- Menu Block 2 -->
          <!-- <div class="op-menublock"> -->
            <!-- The Main Item List -->
            <!-- <ul class="op-menus">
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="metrobox" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-orange" />
                        <span>MetroBox</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="metropanel" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-olive" />
                        <span>MetroPanel</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="metronav" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-red" />
                        <span>MetroNav</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
            </ul> -->
            <!-- End Main Item List -->
            <!-- </div> -->
            <!-- End Menu Block 2 -->

            <!-- Menu Block 3 -->
          <!-- <div class="op-menublock"> -->
            <!-- The Main Item List -->
            <!-- <ul class="op-menus">
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="menustation" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-darkblue" />
                        <span>MenuStation</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="openpanel" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-violetred" />
                        <span>OpenPanel</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="socialauth" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-green" />
                        <span>Social Auth</span>
                        <div class="clearspace"></div>
                    </a>
                </li>

            </ul> -->
            <!-- End Main Item List -->
            <!-- </div> -->
            <!-- End Menu Block 3 -->


      <!-- Menu Block 4 -->
          <!-- <div class="op-menublock"> -->
            <!-- The Main Item List -->
           <!--  <ul class="op-menus">
                <li class="op-menu">
                    <a href="javascript:void(0);" data-panelid="nuxion" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-blue-2" />
                        <span>Nuxion jQuery</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-ext="html" data-panelid="tilebox-jquery" data-pos="right" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-orange-2" />
                        <span>TileBox jQuery</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
                <li class="op-menu">
                    <a href="javascript:void(0);" data-ext="html" data-panelid="tabion-jquery" data-pos="top" class="op-tab">
                        <img src="/images/demo/shopping.png" alt="" class="op-icons solid-red-2" />
                        <span>Tabion jQuery</span>
                        <div class="clearspace"></div>
                    </a>
                </li>
            </ul> -->
            <!-- End Main Item List -->
            <!-- </div> -->
            <!-- End Menu Block 4 -->


      <div class="clearspace"></div>

        </div>
        <!-- End Panel Content -->

    </div>
    <!-- END PANEL 1 -->



    <!-- PANEL 2 Actual Temperature -->
    <div id="panel2" class="op-panel solid-orange-2">

    <!-- Start Control -->
    <div class="op-panelctrl solid-black">
      <!-- Close Button -->
      <div data-close='panel2' class="op-panelbt op-bt-close">
        <img src="/images/arrow-left-48.png" alt="close" />
      </div>
      <!-- End Close button -->

            <!-- NavBar Button -->
            <!-- <div data-panelid="navbar" data-pos="right" class="op-panelbt op-tab op-bt-nav">
                <img src="/images/arrow-right-48.png" alt="navbar" />
            </div> -->
            <!-- End NavBar Button -->

            <!-- Close All -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="/images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->

            <div class="clearspace"></div>
        </div>
        <!-- End Control -->

        <!-- Panel Content -->
        <div class='op-panelform light-text'>
            <h3 class="light-text">What's the actual temperature of your new city?</h3>
            <div class="graph-wrapper">
              <div id="actual_graph">
                 
              </div>
            </div>
        </div>

        <div class="button_block">
         <button class="transition-button" type="button">NEXT</button>
         <button class="transition-button" type="button">PREV</button>
         </div>
        <!-- End Panel Content -->

    </div>
    <!-- END PANEL 2 -->


    <!-- PANEL 3 RAIN & SNOW -->
    <div id="panel3" class="op-panel solid-red">

    <!-- Start Control -->
    <div class="op-panelctrl solid-black">

      <!-- Close Button -->
      <div data-close='panel3' class="op-panelbt op-bt-close">
        <img src="/images/arrow-left-48.png" alt="close" />
      </div>
      <!-- End Close button -->

      <!-- NavBar Button -->
      <!-- <div data-panelid="navbar" data-pos="right" class="op-panelbt op-tab op-bt-nav">
        <img src="/images/arrow-right-48.png" alt="navbar" />
      </div> -->
      <!-- End NavBar Button -->

      <!-- Close All -->
      <div class="op-panelbt op-bt-closeall floatright">
        <img src="/images/close-white-48a.png" alt="close all" />
      </div>
      <!-- End Close All -->

      <div class="clearspace"></div>
    </div>
    <!-- End Control -->


    <!-- Panel Content -->
    <div class='op-panelform'>

    <h3 class="light-text">How often does it rain or snow in your new city?</h3>
    <div class="graph-wrapper">
        <div id="rain_snow_graph">
        </div>
    </div>

    <div class="button_block">
        <button class="transition-button" type="button">NEXT</button>
        <button class="transition-button" type="button">PREV</button>
    </div>

      <div class="thumb-holder">
        <!-- <div class="thumbnails"><img src="/images/demo/1.jpg" alt="0img-demo/1.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/10.jpg" alt="1img-demo/10.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/11.jpg" alt="2img-demo/11.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/12.jpg" alt="3img-demo/12.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/13.jpg" alt="4img-demo/13.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/14.jpg" alt="5img-demo/14.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/15.jpg" alt="6img-demo/15.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/16.jpg" alt="7img-demo/16.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/17.jpg" alt="8img-demo/17.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/18.jpg" alt="9img-demo/18.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/2.jpg" alt="10img-demo/2.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/3.jpg" alt="11img-demo/3.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/4.jpg" alt="12img-demo/4.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/5.jpg" alt="13img-demo/5.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/6.jpg" alt="14img-demo/6.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/7.jpg" alt="15img-demo/7.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/8.jpg" alt="16img-demo/8.jpg"></div> -->
        <!-- <div class="thumbnails"><img src="/images/demo/9.jpg" alt="17img-demo/9.jpg"></div> -->
        <div class="clearspace"></div>
      </div>
      <div class="clearspace">&nbsp;</div>

    </div>
    <!-- End Panel Content -->

  </div>
  <!-- END PANEL RAIN & SNOW -->



  <!-- PANEL PHOTOS LOOKS LIKE -->
    <!-- <div id="NEED_PANEL_NAME" class="op-panel solid-red"> -->

    <!-- Start Control -->
    <!-- <div class="op-panelctrl solid-black"> -->

      <!-- Close Button -->
      <!-- <div data-close='panel3' class="op-panelbt op-bt-close"> -->
        <!-- <img src="/images/arrow-left-48.png" alt="close" /> -->
      <!-- </div> -->
      <!-- End Close button -->

      <!-- NavBar Button -->
      <!-- <div data-panelid="navbar" data-pos="right" class="op-panelbt op-tab op-bt-nav">
        <img src="/images/arrow-right-48.png" alt="navbar" />
      </div> -->
      <!-- End NavBar Button -->

      <!-- Close All -->
      <!-- <div class="op-panelbt op-bt-closeall floatright"> -->
        <!-- <img src="/images/close-white-48a.png" alt="close all" /> -->
      <!-- </div> -->
      <!-- End Close All -->

      <!-- <div class="clearspace"></div> -->
    <!-- </div> -->
    <!-- End Control -->


    <!-- Panel Content -->
    <!-- <div class='op-panelform'>
      <div class="thumb-holder">
        <div class="thumbnails"><img src="/images/demo/1.jpg" alt="0img-demo/1.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/10.jpg" alt="1img-demo/10.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/11.jpg" alt="2img-demo/11.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/12.jpg" alt="3img-demo/12.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/13.jpg" alt="4img-demo/13.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/14.jpg" alt="5img-demo/14.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/15.jpg" alt="6img-demo/15.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/16.jpg" alt="7img-demo/16.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/17.jpg" alt="8img-demo/17.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/18.jpg" alt="9img-demo/18.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/2.jpg" alt="10img-demo/2.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/3.jpg" alt="11img-demo/3.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/4.jpg" alt="12img-demo/4.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/5.jpg" alt="13img-demo/5.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/6.jpg" alt="14img-demo/6.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/7.jpg" alt="15img-demo/7.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/8.jpg" alt="16img-demo/8.jpg"></div>
        <div class="thumbnails"><img src="/images/demo/9.jpg" alt="17img-demo/9.jpg"></div>
        <div class="clearspace"></div>
      </div>
      <div class="clearspace">&nbsp;</div> -->

    <!-- </div> -->
    <!-- End Panel Content -->

  <!-- </div> -->
  <!-- END PHOTO LOOKS LIKE PANEL -->



  <!-- PANEL 4 Daylight Hours -->
  <div id="panel4" class="op-panel solid-blue">

        <!-- Control -->
      <div class="op-panelctrl solid-black">
            <!-- Close Button -->
            <div data-close='panel4' class="op-panelbt op-bt-close">
                <img src="/images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->

            <!-- NavBar Button -->
            <!-- <div data-panelid="navbar" data-pos="right" class="op-panelbt op-tab op-bt-nav">
                <img src="/images/arrow-right-48.png" alt="navbar" />
            </div> -->
            <!-- End NavBar Button -->

            <!-- Close All -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="/images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->

            <div class="clearspace"></div>
        </div>
        <!-- End Control -->


        <!-- Panel Content -->
        

        

        <div class='op-panelform'>
        <h3 class="light-text">How many hours of daylight in your new city?</h3>
        <div class="graph-wrapper">
          <div id="daylight_graph"> 
          </div>
        </div>
        <div class="button_block">
             <button class="transition-button" type="button">NEXT</button>
             <button class="transition-button" type="button">PREV</button>
         </div>

            <!-- <div class="contentblock floatleft">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius mi ac diam mattis congue. Curabitur tempor nisi quis lectus imperdiet a congue enim rutrum. In et odio turpis, sed luctus nulla. In scelerisque eleifend tincidunt. Donec feugiat ullamcorper scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eu justo sapien, non bibendum risus. Quisque dictum nibh eget turpis volutpat vitae laoreet justo ultricies. Maecenas cursus lectus non dolor viverra faucibus. Donec porttitor auctor sapien gravida mollis. Nunc ante eros, mollis id congue ac, scelerisque eu lectus. Nullam odio mauris, bibendum ut rhoncus quis, sollicitudin ut nibh. Sed purus sapien, fermentum in pretium quis, gravida faucibus dui.
            </div>

            <div class="contentblock floatleft">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius mi ac diam mattis congue. Curabitur tempor nisi quis lectus imperdiet a congue enim rutrum. In et odio turpis, sed luctus nulla. In scelerisque eleifend tincidunt. Donec feugiat ullamcorper scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eu justo sapien, non bibendum risus. Quisque dictum nibh eget turpis volutpat vitae laoreet justo ultricies. Maecenas cursus lectus non dolor viverra faucibus. Donec porttitor auctor sapien gravida mollis. Nunc ante eros, mollis id congue ac, scelerisque eu lectus. Nullam odio mauris, bibendum ut rhoncus quis, sollicitudin ut nibh. Sed purus sapien, fermentum in pretium quis, gravida faucibus dui.
            </div>

            <div class="contentblock floatleft">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius mi ac diam mattis congue. Curabitur tempor nisi quis lectus imperdiet a congue enim rutrum. In et odio turpis, sed luctus nulla. In scelerisque eleifend tincidunt. Donec feugiat ullamcorper scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eu justo sapien, non bibendum risus. Quisque dictum nibh eget turpis volutpat vitae laoreet justo ultricies. Maecenas cursus lectus non dolor viverra faucibus. Donec porttitor auctor sapien gravida mollis. Nunc ante eros, mollis id congue ac, scelerisque eu lectus. Nullam odio mauris, bibendum ut rhoncus quis, sollicitudin ut nibh. Sed purus sapien, fermentum in pretium quis, gravida faucibus dui.
            </div> -->

            <div class="clearspace"></div>


        </div>
        <!-- End Panel Content -->




    </div>
    <!-- END PANEL 4 -->


</div>
<!-- END OPENPANEL STATION -->



</body>
</html>