<link rel="stylesheet" href="/css/trg.css">
<!-- <script src="/js/presentation.js" type="text/javascript"></script> -->

<div id='presentation'>
  <div class='container' id="tech-stack">

    <div class="row">
      <div class="col gutters-d span-4-d ">
        <img src="/images/weather_underground.png" />
      </div>
      <div class="col gutters-d span-4-d ">
        <img src="/images/forecast_logo.png" />
      </div>
      <div class="col gutters-d span-4-d ">
        <img src="/images/sinatra.png" />
      </div>
    </div>

    <div class="row">
      <div class="col gutters-d span-4-d ">
        <img src="/images/ruby_on_rails_logo.png" />
      </div>
      <div class="col gutters-d span-4-d "> 
        <img src="/images/d3js-logo.jpg" />
      </div>
      <div class="col gutters-d span-4-d ">
        <img src="/images/JQuery_logo.svg" />
      </div>
    </div>

    <div class="row">
      <div class="col gutters-d span-12-d ">
        <img src="/images/html5-css3-png-722.jpg" />
      </div>
    </div>

  </div>


  <div id="dynamics" class="container">
    <div class="row">
      <div class="col gutters-d span-4-d "> 
        <img src="" class/><!-- enter team picture.. to-do -->
      </div>

      <div class="col gutters-d span-8-d "> 
        <ul>
          <li><p>Pair programming on major sections</p></li>
          <li><p>Stand ups 3x per day, kept short</p></li>
          <li><p>Communication, communication, communication</p></li>
          <li><p>Comfort with pivoting on direction</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="successes" class="container">
    <div class="row">

      <div class="col gutters-d span-8-d "> 
        <ul>
          <li><p>Fully decoupled</p></li>
          <li><p>Using large data sets, caching them on the frontend</p></li>
          <li><p>Kept up response time with minimal AJAX calls</p></li>
          <li><p>learning D3 from scratch</p></li>
          <li><p>Minimal user input, maximum output</p></li>
        </ul>
      </div>

      <div class="col gutters-d span-4-d "> 
        <div class='row'>
          <div class="col gutters-d span-12-d ">
            <img src="/images/decoupling1.png" class/>
          </div>
        </div>
        <div class='row'>
          <div class="col gutters-d span-12-d ">
            <img src="/images/d3-success.png" class/>
          </div>
        </div>

    </div>
  </div>

  <div id="hurdles" class="container">
    <div class="row">
      <div class="col gutters-d span-4-d "> 
        <img src="/images/hurdles.jpg" class/><!-- enter team picture.. to-do -->
      </div>

      <div class="col gutters-d span-8-d "> 
        <ul>
          <li><p>API issues: tried several different APIs, found that WU and FC.io to be best option</p></li>
          <li><p>Daily limits to API calls and data completeness</p></li>
          <li><p>Pulling in 5 years worth of data and crushing it down to pertinent info</p></li>
          <li><p>pivoting on frontend - REACT, then NODE/EMBER, then SINATRA</p></li>
          <li><p>Difficulty with Agile dev, since some steps needed completion before other steps could be begun.</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="next-steps" class="container">
    <div class="row">
      <div class="col gutters-d span-8-d "> 
        <ul>
          <li><p>More cities</p></li>
          <li><p>More robust data from more complete APIs</p></li>
          <li><p>Flesh out original plan for feels like: smells, look, sounds, tastes</p></li>
          <li><p>More advanced D3 graph visualizations</p></li>
        </ul>
      </div>
      <div class="col gutters-d span-4-d "> 
        <img src="/images/iStock-Unfinished-Business-5.jpg" class/><!-- enter team picture.. to-do -->
      </div>

    </div>
  </div>
</div>
<!--

<

Next Steps:



 -->