<select id="city-1-data">
  <option value="">Select a city</option>
  <option value="1">San Francisco, CA</option>
  <option value="2">Richmond, VA</option>
  <option value="3">Chicago, IL</option>
  <option value="4">New York, NY</option>
</select>
<select id="city-2-data">
  <option value ="">Select a city</option>
  <option value="1">San Francisco, CA</option>
  <option value="2">Richmond, VA</option>
  <option value="3">Chicago, IL</option>
  <option value="4">New York, NY</option>
</select>
<button id='go'>GO!</button>
<div style='width:90%;height:50%' id='target'></div>